@use '@angular/material' as mat;

$my-palette: mat.define-palette(mat.$teal-palette);

footer {
  position: fixed;
  width: 100vw;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: mat.get-color-from-palette($my-palette, default);
  text-align: center;
}

footer > p {
  margin: auto;
  color: mat.get-color-from-palette($my-palette, 50);
}
