<div class="home">
  <mat-card class="homeCard">
    <mat-card-header class="homeCardHeader">
      <mat-card-title>About this application</mat-card-title>
      <mat-card-subtitle>Short information</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>My weather application is built using Angular,
        a powerful framework for creating dynamic web applications,
        and Material Design, a design system developed by Google that provides a consistent and modern look and feel.
        With this app, users can quickly check the current weather conditions and the forecast for the next few hours
        for any location in the world.
        The app is designed to be responsive and easy to use, with intuitive navigation and a clean, uncluttered
        interface.
        It uses APIs to fetch real-time weather data. Overall, my weather application provides a fast and reliable way
        for users to stay informed about the weather, no matter where they are.</p>
      <h6>
        The application was created by
        <a href="https://www.github.com/empios">Paweł Włodarczyk</a>.
      </h6>
    </mat-card-content>
  </mat-card>
</div>
